html{
    background-color: black;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
form{
    width: 90%;
    min-width: 28.125em;
    max-width: 35em;
    background-color: white;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
label, input, textarea{
    display: block;
    width: 90%;
    padding: 2em;
    text-transform: uppercase;
    border-bottom: 2px solid #bbb;

}
legend{
    font-size: 2em;
    padding: .5em;
}
